*{
    font-family: monospace; 

}
body{
    background-color: #a9a9a98f;
}
.login{
    display: flex;
    flex-direction: row-reverse;

}
.login input{
    margin-right: 30px;
    padding: 15px;
    width: 100px;
    font-size: 25px;
    background-color: #ffffff00;
    font-weight: bolder;
    border: none;
    letter-spacing: 3.2px;
    color: black;
    position: relative;
    transform: translateY(-1624%);
    cursor: pointer;
}
.image{
    scale: .7;
    border: 8px solid #00000000;
    padding: 25px;
    box-shadow: 1px 1px 17px 6px #0000001a;
    text-align: center;
    width: 40%;
}
.remove{
    position: absolute;
    left: 28%;
    top: 77%;
    border: 1px solid #00000000;
    scale: 3.7;
    box-shadow: 1px 1px 17px 3px #00000000;
    border-radius: 40px;
    width: 21px;
    text-align: center;
    cursor: pointer;
}
.add{
    position: absolute;
    text-align: center;
    left: 23%;
    top: 77%;
    border: 1px solid #00000000;
    scale: 3.5;
    box-shadow: 1px 1px 17px 3px #00000000;
    border-radius: 40px;
    width: 21px;
    cursor: pointer;
}
.number{
    position: absolute;
    width: 15px;
    background: #97969600;
    text-align: center;
    scale: 3;
    left: 33.6%;
    bottom: 20%;
    padding: 8px;
    height: 15px;
    box-shadow: 1px 1px 17px 3px #0000001a;
}
.chart{
    position: absolute;
    width: 38px;
    background: #d606a9;
    text-align: center;
    scale: 3;
    left: 10%;
    bottom: 20%;
    padding: 8px;
    height: 15px;
    box-shadow: 1px 1px 17px 3px #00000008;
    cursor: pointer;
}
.buy{
    position: absolute;
    left: 11%;
    padding: 10px;
    width: 525px;
    font-size: 35px;
    font-weight: bolder;
    background-color: #d606a9;
    border: none;
    border-radius: 54px;
    color: white;
    cursor: pointer;
    height: 100px;
    

}
.title{
    position: absolute;
    left: 43%;
    top: 9%;
    font-size: 28px;
    width: 800px;
}
.information .title .price{
    border: 1px solid #0000001a;
    padding: 20px;
    width: 10%;
    font-weight: bold;
    font-size: 31px;
}
.information .title p{
    position: absolute;
    left: 18%;
    top: 56%;
    font-weight: bold;
    font-size: 40px;
}
.size{
    display: flex;
    position: absolute;
    left: 68%;
    top: 24.5%;
    scale: 1.4;
}
.size .size{
    position: relative;
    left: -29%;
    font-weight: 600;
}
.size select{
    font-weight: bolder;
    font-size: 20px;
    position: relative;
    left: -19%;
    cursor: pointer;
    padding: 7px;
}
.details{
    position: absolute;
    top: 43%;
    left: 44%;
}
.details .detail li{
    font-size: 23px;
    font-weight: bold;
}